@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.background1{
    background-color: rgb(239, 239, 235);
}

.background2{
    background-image: url("../picture/PNJ.jpg");
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    background-size: cover;
    
}

.myImg{
    height: 650px;
}

.text-with-black-outline {
	color: white;
	font-size: 65px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}